<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.v2rayextension.agent</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/lib/v2ray-extension/v2ray-agent</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/usr/local/lib/v2ray-extension/agent-stdout.log</string>

  <key>StandardErrorPath</key>
  <string>/usr/local/lib/v2ray-extension/agent-stderr.log</string>
</dict>
</plist>
